*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* ( 1rem = 10px) / 16px */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem; /* 16px */
  background: #2B2E3B;
  color: #9FEAF9;
  padding: 3rem;
}

/* Frameless Window */
.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  padding-top: 3.6rem;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1.6rem 3.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: .4rem .2rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button--green {
  background-color: white;
  color: black;
  border: .2rem solid #4CAF50;
}

.button--green:hover {
  background-color: #4CAF50;
  color: white;
}

.button--blue {
  background-color: white;
  color: black;
  border: .2rem solid #008CBA;
}

.button--blue:hover {
  background-color: #008CBA;
  color: white;
}

.button--red {
  background-color: white;
  color: black;
  border: .2rem solid #f44336;
}

.button--red:hover {
  background-color: #f44336;
  color: white;
}

.button--grey {
  background-color: white;
  color: black;
  border: .2rem solid #e7e7e7;
}

.button--grey:hover {
  background-color: #e7e7e7;
}

.button--black {
  background-color: white;
  color: black;
  border: .2rem solid #555555;
}

.button--black:hover {
  background-color: #555555;
  color: white;
}
